<p>You are applying for {{vacancy.title}} at {{vacancy.company.name}}</p>


<div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
  {{errorMessage}}
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="applicationForm">
  <div class="form-group">
    <label for="motivation">Enter your motivation:</label>
    <input type="text" class="form-control" id="motivation" motivation="motivation" placeholder="Motivation" formControlName="motivation">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!applicationForm.valid || isSubmitted">Apply</button>
   
</form>